.photo{
    border: 1px solid #000;
    border-radius: 50px;
}

body {
background:gray ;
padding: 10px;
    border-top: 5px dotted green;
    border-bottom: 5px dotted green;
    border-left: 10px dashed black;
    border-right: 10px dashed #000;
    border-radius: 25px;
margin: 10px;
width: 900px;
margin: auto;
}
#tittle {
    color: blue;
    font-size: 40px;
    text-transform: uppercase;
}
.subtitle {
    color: green;
}
.post title {
    font-size: 16px;
    font-style: italic
}
.contact_list {
   list-style-type: none;
   padding-left: 2px;
   text-align: center;
}